<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.neighborCabinet.project.dao.IUsermodifyDAO">
  
  	<select id="memberGetDetail" resultType="com.neighborCabinet.project.model.UsermodifyVO">
  		SELECT *
  			<!-- userName AS userName,
  			userNickname AS userNickname,
  			userPw AS userPw,
  			userEmail AS userEmail,
  			userHp AS userHp,
  			userZipcode AS userZipcode,
  			userAddress1 AS userAddress1,
  			userAddress2 AS userAddress2 -->
  		FROM member
  		WHERE userId=#{userId } 
  	</select>
  
  	<!-- 회원탈퇴 -->
    <delete id="memberDelete">
		DELETE 
		FROM member
		WHERE userId=#{userId }
	</delete>
  
  	<update id="memberModify">
  		UPDATE member SET userName=#{userName }, userNickname=#{userNickname }, 
  		userPw=#{userPw }, userEmail=#{userEmail },
  		 userHp=#{userHp }, userZipcode=#{userZipcode },
  		  userAddress1=#{userAddress1 }, userAddress2=#{userAddress2 }
  		  
  		WHERE userId=#{userId }
  		
  	</update>
  </mapper>