<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neighborCabinet.project.dao.IBoardDAO">

    <select id="boardList" parameterType="int" resultType="com.neighborCabinet.project.model.NboardVO">
        select
        *
        from board
        where boCategory = 1
        order by boNo desc
        LIMIT #{startBoardNum}, #{boardCountInPage}
    </select>

    <select id="boardTotalCount" resultType="java.lang.Integer">
        select
        count(*)
        from board
        where boCategory = 1
    </select>

    <select id="boardList2" parameterType="int" resultType="com.neighborCabinet.project.model.NboardVO">
        select
        *
        from board
        where boCategory = 2
        order by boNo desc
        LIMIT #{startBoardNum}, #{boardCountInPage}
    </select>

    <select id="boardTotalCount2" resultType="java.lang.Integer">
        select
        count(*)
        from board
        where boCategory = 2
    </select>
    
    <insert id="boardRegister" parameterType="com.neighborCabinet.project.model.NboardVO">
        insert into
        board (boTitle, boContent, boWriter, boNickname, boTime, boCategory)
        values (#{boTitle}, #{boContent}, #{boWriter}, #{boNickname}, NOW(), #{boCategory})
    </insert>

    <select id="boardDetail" parameterType="int" resultType="com.neighborCabinet.project.model.NboardVO">
        select
        *
        from board
        where boNo = #{boNo}
    </select>

    <delete id="boardDelete" parameterType="int">
        delete
        from board
        where boNo = #{boNo}
    </delete>

    <select id="list" parameterType="int" resultType="com.neighborCabinet.project.model.boardCommentVO">
        select
        *
        from boardcomment
        where boNo = #{boNo}
    </select>

    <insert id="write" parameterType="com.neighborCabinet.project.model.boardCommentVO">
        insert into
        boardcomment(cNo, cContent, cWriter, cTime, boNo)
        values ( #{cNo}, #{cContent}, #{cWriter}, NOW(), #{boNo})
    </insert>

    <select id="commentTotalCount" parameterType="int" resultType="java.lang.Integer">
        select
        count(*)
        from boardcomment
        where boNo = #{boNo}
    </select>


</mapper>