@charset "UTF-8";

table{
	margin : auto;
	width : 450px;
}
table td{
	padding : 5px;
}
table label{
	font-size : 20px;
}
.input_shipping{
	margin :0;
	height : 40px;
	font-size : 20px;
	box-sizing : border-box;
	padding : 3px;
}
/* 수령인 */
#recipient{
	width : 100%;
}
#userZipcode{
	width : 40%;
}
#searchZipBtn{
	width : 40%;
}
#userAddress1{
	width : 100%;
	height : auto;
}
#userAddress2{
	width : 100%;
}
#userHp{
	width : 100%;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
}
textarea{
	resize: none;
}

input:focus, textarea:focus{
	outline: none;
}