@charset "UTF-8";

html {

}

html,body,div {
	display: block;
	margin:0;
	padding:0;
	

}
html,body {
	height:100%;
	width:100%;
	padding:0px;
	margin:0px;
}
#wrap{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
}
#header{
	position:fixed;
	z-index:1;
	width:100%;
	height:100px;
	/* border:solid 5px black; */
}
#container{
	width:100%;
	height:100%;
	padding:0;
}
#section1 {
	width: 100%;
	height: 100%;
	/*background: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0) 10%,
			rgba(255, 255, 255, 0.25) 25%,
			rgba(255, 255, 255, 0.5) 50%,
			rgba(20, 20, 20, 0.5) 75%,
			rgba(20, 20, 20, 0.75) 100%
	), url(/image/tt.jpg);*/
	background-image: url("/image/main.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;



}
#section1 #s1_inner .text{
	text-shadow: 1px 1px 2px rgb(0 0 0 / 40%);
}
.section_inner{
	position:relative;
	margin: 0 auto;
	width:1080px;
	height:600px;
	top:40%;

}
.section_inner .text{

	width:100%;
	height:50%;
	font-weight:bolder;
	font-size: 64px;
	line-height:1.4;
	text-align: center;
	top:50%;
	left:50%;
	color:white;
	font-family: sans-serif;
	border:solid 0px green;
}

#section2{
	width: 100%;
	height:600px;

	background-color:#F9FAFB ;
	margin-bottom:150px;
}
#section2 #s2_inner .text{
	color:black;
	font-size:48px;
}
#section3{
	margin: auto;
	width: 1080px;
	height:2300px;


}
#section3 .section3_header{
	margin:0 auto;
	width:100%;
	height:200px;
	border: solid 0px black;
	font-weight: bolder;
	font-size: 54px;
	line-height:1.4;
	text-align: center;


}
#section3 .section3_content{
	width: 100%;
	height:350px;
	border: solid 0px green;
	background-color:white;
	padding-top:100px;


}
#section3 #s3_ct1{
	height:500px;
}

#section3 .s3{
	width:400px;
	height:100%;
	border:solid 0px pink;
	margin-left:-300px;
	max-width:100%;
	opacity: 0;
}
#section3 .s3_2{
	float:right;
	width:400px;
	height:100%;
	margin-top:-170px;
	margin-right:-300px;
	max-width:100%;
	opacity: 0;
}
#section3 #s3_ct3 .s3{

	margin-top:-170px;
}


#section3 .s3 .image{
	border:solid 0px blue;
	width:100%;
	height:350px;
	text-align: center;

}

#section3 img {
	border-radius: 50%;
	width: 350px;
	height: 350px;
	filter: drop-shadow(10px 6px 6px #c3c3c3);
	border: solid 3px #00DBAF;
}
#section3 .text{
	width:100%;
	height:100px;
	margin-top:20px;
	border: solid 0px green;
}
#section3 .text .s3_title{
	font-size: 40px;
	text-align: center;
	font-weight: bold;
}
#section3 .text .s3_sub{
	font-size:20px;
	text-align: center;
}
.section_4_5 {
	width: 100%;
	height: 600px;
	padding-top: 100px;
}
.section_4_5 .s4_5_inner{
	margin:0 auto;
	width:1080px;
	height:420px;
	border: solid 0px black;
	padding-top: 30px;
	/*opacity: 0;*/
	font-size: 0;
	letter-spacing: 0;
	word-spacing: 0;
}
.section_4_5 .s4_5_inner .section_text{

	float:left;
	margin:0;
	width:640px;
	height:400px;
	border:solid 0px red;

}
.section_4_5 .s4_5_inner .section_img{
	float:left;
	margin:0;
	width:400px;
	height:400px;
	border:solid 0px black;
}
.section_4_5 .s4_5_inner .section_img div{

	width:350px;
	height:500px;
	background-color:white;
	border:solid 7px #F9FAFB;
	border-radius: 9%;
	z-index: 1;
	margin-top:-30px;
	box-shadow: 0px 10px 48px -4px rgba(0,0,0,0.75);
}
.section_4_5 .s4_5_inner .section_img div img{
	width:340px;
	height:480px;
	border-radius:9%;
	margin:5px 0 0 5px;
}
.section_4_5 .s4_5_inner .title{
	width:100%;
	height:100px;
	font-size: 54px;
	line-height:1.4;
	color:white;
	font-family: sans-serif;
	border:solid 0px green;
	margin-top:40px;
}
.section_4_5 .s4_5_inner .sub{
	width:100%;
	height:120px;
	font-family: sans-serif;
	font-weight: 500;
	font-size: 32px;
	line-height:1.25;
	color:white;
	border:solid 0px black;
}
.s4_5_button {
	width:100%;
	height:100px;
	border: solid 0px pink;

}
.s4_5_button button{
	position: relative;

	display: inline-block;
	padding: 15px 30px;
	border-radius: 15px;
	z-index:1;
	width:250px;
	height:100px;
	font-family: "paybooc-Light", sans-serif;
	font-size:30px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	font-weight: 600;
	transition: 0.25s;
	color:white;
	border: solid 1px white;
	background:#77AF9C;
}
.s4_5_button button:hover{
	cursor:pointer;
}

#section4{
	background-color: #77AF9C;

}
#section5{
	background: white;
	height:800px;
}
#section5 .s4_5_inner{
	margin-top:100px;
}
#section5 #s5_title{
	color:#00DBAF;
}
#section5 #s5_sub{
	color:#00DBAF;
}
#section5 button {
	color: #00DBAF;
	background: white;
	border: solid 1px #00DBAF;
}
#footer{

	width:100%;
	height:100px;
}