@charset "UTF-8";

/* 왼쪽 상단 네비 */

.mapWrap{
	min-height: 100%;
	height: auto;
	position:relative;
	display:flex;
}	

.navBlock{
	display: flex;
	width: 260px;
	flex-direction:column;
}

.infoNav{
	display: flex;
    padding-top: 20px;
    position: relative;
    width: 260px;
}

.allNav .navList{
	display: flex;
	flex-direction:column;
	width:200px;
}

.navListlink{
	display:flex;
	align-items: center;
	border-radius:21px 21px 21px 21px;
	position: relative;
	border:none;
	margin-bottom:7px;
	margin-top:7px;
	height:45px;
	color:gray;
}
.navListlink{
	box-sizing: border-box;
}

.navListlink:hover{
  border-left:1px solid #77AF9C;
  border-right:1px solid #77AF9C;
  border-top:1px solid #77AF9C;
  border-bottom:1px solid #77AF9C;
	cursor: pointer;
}

.figureBox{
	height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
}

figure{
	width: 25px;
    height: 25px;
}

.modifyInfo{
	height: 100%;
    width: auto;
}

#premiumBox{
	width: 33px;
    height: 33px;
}

.listObject {
    color: black;
    margin-right:5%;
}

a{
	text-decoration-line: none;
}


/* 지도 위 텍스트 */
.sub{
	margin-top:3.5%;
	color:#285943;
}

.viewMap{
	display:flex;
	flex-direction:column;
	width:100%;
	padding:15px;
}

.viewMapLR{
	display:flex;
	margin:15px;
}

.viewMapL{
	border:1px solid lightgrey;
	border-radius: 2px;
	display:flex;
	width:59%;
	height: 70vh;
	box-sizing: border-box;
}

.viewMapL:active{
	border:2px solid #77AF9C;
}
.viewMapR img{

}
.viewMapR{
	/* border:1px solid black; */
	display:flex;
	flex-direction:column;
	width:40%;
	height: 70vh;
	overflow:auto;
}

.placeInfo{
	display:flex;
	width:320px;
	align-items:center;
	padding:10px;
	margin:10px;
	cursor:pointer;
	border:1px solid lightgrey;
	border-radius: 2px;
	box-sizing: border-box;

}

.placeInfo:hover{
	border:1px solid #77AF9C;
}

.placeimageDiv{
	width:50px;
	height:45px;
}

.placeimage{
	width:100%;
	height:100%;
	border:1px solid lightgrey;
	object-fit: cover;
	/* padding:3px; */
}

.placeTitleBox{
	width:100%;
	height:100%;
}

.placeTitle{
	display:flex;
	margin-bottom:3%;
	/* border: 1px solid black; */
	font-size: 15px;
	width: 100%;
	height: 23px;
	overflow: hidden;
}

.placeTitle > p {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0px 10px;
	color:#77AF9C;
}

.placeDetail{
	/* border:1px solid black; */
	width: 250px;
	display:flex;
	margin-left:10px;
	height:17px;
}

.placeDetail div {
	display:flex;
	margin-right:17px;
}

.placeDetail div img{
	margin-right: 3px;
	width:14px;
	height:14px;
}

/* 

.placeDetail div p {
	margin-left:10px;
	font-size:0.8em;
} */


#pTime{
	font-size:0.8em;
	color: #5f5f5f;
	/* align-items: center; */
}

#pAddress{
	font-size:0.8em;
	/* border: 1px solid red; */
 	/* word-break:break-all; */
 	overflow: hidden;
	height: 17px;
	color: #5f5f5f;
}

