@charset "UTF-8";

/* 왼쪽 상단 네비 */

.wrap{
	min-height: 100%;
	height: auto;
	position:relative;
	display:flex;
}	

.navBlock{
	display: flex;
	width: 260px;
	flex-direction:column;
}

.infoNav{
	display: flex;
    padding-top: 20px;
    position: relative;
    width: 260px;
}

.allNav .navList{
	display: flex; 
	flex-direction:column;
	width:200px;
}

.navListlink{
	display:flex;
	align-items: center;
	border-radius:21px 21px 21px 21px;
	position: relative;
	border:none;
	margin-bottom:7px;
	margin-top:7px;
	height:45px;
	box-sizing: border-box;
	
}

.navListlink:hover{
  border:1px solid #77AF9C;
  font-size: 0.93em;
}

.figureBox{
	height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
}

figure{
	width: 25px;
    height: 25px;
}

.modifyInfo{
	height: 100%;
    width: auto;
}

.listObject {
    color: black;
    margin-right:5%;
    font-size: 0.93em;
}

a{
	text-decoration-line: none;
}

.bodyWrap{
	display:flex;
	flex-direction: column;
	width:100%;
}

.pageInfo{
	margin-top:3%;
	font-size:0.2em;
	color:#285943;
	margin-left:3%;
}

.pageName{
	margin-left:3%;
	font-size:2em;
	color:#285943;
}

.modifyinfoBox{
	display:flex;
	flex-direction: column;
	padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 1px;
    margin-left:13%;
    margin-right:27%;
}

.inputbtnBox{
	display:flex;
}

.userName{
	flex-direction: column;
	margin-top:1%;
	margin-bottom:7%;
}

.currentName{
	margin-top:3%;
	margin-left:1%;
	display:flex;
}

.modifyButton{
	width:3.5%;
	height:3.5%;
	text-align: center;
    background: WHITE;
    border: solid 2px white;
    border-radius:50%;
    display:flex;
    cursor:pointer;
    float:right;
    margin-right:15%;
}

@media (max-width: 1295px) {
	.modifyButton{
	width:7% !important;
	height:7% !important;
	margin-left:75%;

	}
}

@media (max-width: 915px) {
	.modifyButton{
	width:9% !important;
	height:9% !important;
	margin-left:68%;

	}
}

@media (max-width: 760px) {
	.modifyButton{
	width:15% !important;
	height:15% !important;
	margin-left:63%;

	}
}

@media (max-width: 580px) {
	.modifyButton{
	width:23% !important;
	height:23% !important;
	margin-left:50%;

	}
}

@keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

.btnImage{
	margin-top:1px;
	width:100%;
	height:100%;
	margin: 0 auto;
    border-radius: 50%;
}

.modifyButton:hover{
	animation: spin 3s linear infinite;
}

.modifySpan{
	margin-top:0.8%;
	color:#285943;
	width:100%;
}

.modifySpan2{
	font-size:0.8em;
	color:gray;
	width:30%;
	margin-left:1%;
	border:none;
}

.miHr{
	margin-right:34%;
	width:84%;
}

.inputText{
	width:35%;
	border:1px solid #77AF9C;
	height:30px;
}

.inputText:focus{
	outline:none;
	border-color:#285943;
}

.formBox{
	display:none;
}

.saveBtn{
	width:8%;
	height:15%;
	border:1px solid #285943;
	background-color:#D7FFF1;
	color:#285943;
}

.deleteInfo{
	width:8%;
	height:10%;
	margin-right:15%;
	background:white;
}

.deleteBtn{
	background-color:transparent;
	border: solid 2px white;
	cursor:pointer;
}

.deleteImage{
	width:100%;
	height:100%;
}

.deleteM{
	color:gray;
	font-size:0.08em;
}

.boxQ{
	margin-right:5px;
}






