@charset "UTF-8";

body{
	margin : 0;
	padding : 0;
	width : 500px;
}
#wrap{
	margin : auto;
	width : 100%;
}
form{
	margin-top : 20px;
	text-align : center;
}
#title{
	padding : 10px 0px 7px;
	font-size : 20px;
	width : 100%;
	box-sizing : border-box;
}
#writer{
	padding : 10px 10px 0px;
	text-align : left;
	margin-left : 30px;
	box-sizing : border-box;
}
fieldset{
	/* justify-content: center; */
	box-sizing : border-box;
	justify-content: flex-end;
    display : flex;
	flex-direction : row-reverse;
    border : 0;
    padding : 0 30px;
    box-sizing : border-box;
}
	input[type=radio]{
    display : none;
}
label{
    font-size : 30px;
    color : transparent;
    text-shadow : 0 0 0 #f0f0f0;
}
label:hover{
    text-shadow : 0 0 0 #00DBAF;
}
label:hover ~ label{
    text-shadow : 0 0 0 #00DBAF;
}
input[type=radio]:checked ~ label{
    text-shadow : 0 0 0 #00DBAF;
}
textarea{
	margin-top : 10px;
	width : 450px;
	height : 200px;
	border : none;
	border-radius : 10px;
	background : #F8F8F8;
	font-size : 20px;
	padding : 10px;
	resize: none;
	box-sizing : border-box;
}
textarea:focus{
	outline : none;
}
#button{
	margin-right : 20px;
	padding : 10px;
	text-align : right;
}
#button input{
	margin-left : 10px;
	width : 80px;
	height : 35px;
	box-sizing : border-box;
	font-size : 20px;
	border-radius : 10px;
}
#button input:first-child{
	color : #00DBAF;
	border : solid 1px #eeeeee;
	background : white;
	
}
#button input:last-child{
	color : white;
	border : #00DBAF;
	background : #00DBAF;
	margin-right : 10px;
}
#emotionBox{
	margin-top : 5px;
	position : reletive;
	width : 100%;
	text-align : left;
	padding-left : 40px;
	box-sizing : border-box;
}
#emotionBox button{
	border-radius : 10px;
	border : 0.5px solid blueviolet;
	background : blueviolet;
	color : white;
	
}
#qwer{
	display : flex;
	justify-content : center;
	align-items : center;
	position : absolute;
	right : 180px;
	top : 70px;
	width : 80px;
	height : 80px;
	border-radius : 100%;
	transition: 0.3s;
}
#qwer>div:first-child{
	position : absolute;
	width : 30px;
	height : 30px;
	background : white;
	border-radius : 100%;
}
#asdf{
	position : absolute;
	right : 100px;
	top : 70px;
}
#asdf{
	position : absolute;
	right : 110px;
	top : 80px;
}
#asdf div{
	display : flex;
	align-items : center;
}
#asdf>div>span:first-child{
	width : 10px;
	height : 10px;
}