<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.neighborCabinet.project.dao.IMapDAO">
<!--  	<resultMap id="mapResult" type="com.neighborCabinet.project.model.MapVO" >-->
<!--  		<result property="pNo"  column="pNo"  />-->
<!--  		<result property="pWriteTitle"  column="pWriteTitle"  />-->
<!--  		<result property="pWriteSub"  column="pWriteSub"  />-->
<!--  		<result property="pPlaceTitle"  column="pPlaceTitle"  />-->
<!--  		<result property="pPlaceInfo"  column="pPlaceInfo"  />-->
<!--  		<result property="pBoxInfo"  column="pBoxInfo"  />-->
<!--  		<result property="pCautionInfo"  column="pCautionInfo"  />-->
<!--  		<result property="pAddress1"  column="pAddress1"  />-->
<!--  		<result property="pImage"  column="fileNo"  />-->
<!--  		<result property="pTime"  column="pTime"  />-->
<!--  	</resultMap>-->

		<resultMap id="mapResult" type="com.neighborCabinet.project.model.MapVO" >
			<result property="pNo"  column="pNo"  />
			<result property="pWriteTitle"  column="pWriteTitle"  />
			<result property="pWriteSub"  column="pWriteSub"  />
			<result property="pPlaceTitle"  column="pPlaceTitle"  />
			<result property="pPlaceInfo"  column="pPlaceInfo"  />
			<result property="pBoxInfo"  column="pBoxInfo"  />
			<result property="pCautionInfo"  column="pCautionInfo"  />
			<result property="pAddress1"  column="pAddress1"  />
			<result property="pImage"  column="pSaveImage"  />
			<result property="pS_Time"  column="pS_Time"  />
			<result property="pE_Time"  column="pE_Time"  />

		</resultMap>

	<!-- 장소 조회 -->

	<select id="listAllMap"  resultMap="mapResult">
		select p.*, (select savedFileName from files f where f.pId=p.pNo limit 1 ) as pSaveImage
		from files f, place p
		where f.pId=p.pNo
		group by pNo;

	</select>

	<select id="searchPlace" parameterType="string" resultType="int">
		select ifnull(max(pNo),0)
		from place
		where pWriteTitle like concat('%',#{searchInput},'%')
		limit 1
	</select>


</mapper>